aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
click==7.1.2
fastapi==0.63.0
gunicorn==20.1.0
h11==0.12.0
idna==3.1
lxml==4.6.3
multidict==5.1.0
pydantic==1.8.1
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
user-agent==0.1.9
uvicorn==0.13.4
yarl==1.6.3
